In [1]:
from itertools import product, combinations, permutations, combinations_with_replacement

In [2]:
l = [0, 1, 2, 3, 4, 5, 6]

## Combination 
Following cell for making combination of elements, as much as elements with you want.

In [3]:
print(list(combinations(l, 2)))

[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 3), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6), (4, 5), (4, 6), (5, 6)]

## Permutation

* Following cell for making permutation of elements, as much as elements with you want.

In [4]:
print(list(permutations(l, 2)))

[(0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (1, 0), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 0), (2, 1), (2, 3), (2, 4), (2, 5), (2, 6), (3, 0), (3, 1), (3, 2), (3, 4), (3, 5), (3, 6), (4, 0), (4, 1), (4, 2), (4, 3), (4, 5), (4, 6), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 6), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5)]

## Combination And Replacement

* Following cell for making permutation and combination both together with as much numer as you want with.

In [5]:
print(list(combinations_with_replacement(l, 2)))

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 3), (3, 4), (3, 5), (3, 6), (4, 4), (4, 5), (4, 6), (5, 5), (5, 6), (6, 6)]

## Product

* Making permutation with repeatable numbers or not

In [6]:
print(list(product(l, repeat=2)))

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [7]:
from itertools import accumulate, groupby
import operator

In [8]:
a = [1, 2, 5, 3, 4]

In [10]:
acc = accumulate(a)
print(list(acc))

[1, 3, 8, 11, 15]

In [11]:
acc = accumulate(a, func=operator.mul)
print(a)
print(list(acc))

[1, 2, 5, 3, 4]
[1, 2, 10, 30, 120]

In [12]:
acc = accumulate(a, func=max)
print(a)
print(list(acc))

[1, 2, 5, 3, 4]
[1, 2, 5, 5, 5]

In [13]:
def smaller_than_3(x):
    return x<3

In [14]:
group_obj = groupby(a, key=smaller_than_3)

for key, value in group_obj:
    print(key, list(value))

True [1, 2]
False [5, 3, 4]

In [15]:
group_ob = groupby(a, key=lambda x: x<3)

for key, value in group_ob:
    print(key, list(value))

True [1, 2]
False [5, 3, 4]

In [16]:
person = [{'name': 'Suman', 'age': 21}, {'name': 'Sonu', 'age': 19}, {'name': 'Ankit', 'age': 9},
            {'name': 'Lovekush', 'age': 16}, {'name': 'kumar', 'age': 28}]

In [17]:
group_ob = groupby(person, key=lambda x: x['age'])

for key, value in group_ob:
    print(key, list(value))

21 [{'name': 'Suman', 'age': 21}]
19 [{'name': 'Sonu', 'age': 19}]
9 [{'name': 'Ankit', 'age': 9}]
16 [{'name': 'Lovekush', 'age': 16}]
28 [{'name': 'kumar', 'age': 28}]

In [18]:
from itertools import count, cycle, repeat

In [19]:
for i in count(10):
    print(i)
    if i == 15:
        break

10
11
12
13
14
15

In [20]:
ab = [1, 2, 3]

In [21]:
m = 0

for i in cycle(ab):
    print(i)
    if m == 6:
        break
    m += 1

1
2
3
1
2
3
1

In [22]:
for i in repeat(1, 6):
    print(i)

1
1
1
1
1
1